<!-- ==== PORTFOLIO SECTION ==== -->
<section class="portfolio section" id="portfolio">
    <div class="container flex-center">
        <h1 class="section-title-01">Portfolio</h1>
        <h2 class="section-title-02">Portfolio</h2>
        <div class="content">
            <div class="portfolio-list">
                <div class="img-card-container" *ngFor="let project of projects; let i = index">
                    <div class="img-card" (click)="openModal(i)">
                        <div class="overlay"></div>
                        <div class="info">
                            <h3>{{ project.title }}</h3>
                            <span>{{ project.category }}</span>
                        </div>
                        <img [src]="project.image" alt="">
                    </div>
                    <div class="portfolio-model flex-center" [ngClass]="{'active': isModalOpen === i}">
                        <div class="portfolio-model-body">
                            <i class="fa-solid fa-xmark portfolio-close-btn" (click)="closeModal()"></i>
                            <h3>{{ project.title }}</h3>
                            <img [src]="project.image" alt="">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==== GET IN TOUCH ==== -->
    <div class="get-in-touch sub-section">
        <div class="container">
            <div class="content flex-center">
                <div class="contact-card flex-center">
                    <div class="title">
                        <h4>Let's Talk</h4>
                        <h3>About Your</h3>
                        <h2>Next Project</h2>
                    </div>
                    <div class="contact-btn">
                        <a href="" class="btn">Get In Touch <i class="fa-solid fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==== OUR CLIENTS ==== -->
    <div class="our-client sub-section">
        <div class="container flex-center">
            <h1 class="section-title-01">Our Clients</h1>
            <h2 class="section-title-02">Our Clients</h2>
            <div class="content">
                <!-- Swiper -->
                <div class="swiper client-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide flex-center" *ngFor="let client of clients;">
                            <div class="client-img">
                                <img [src]="client.image">
                            </div>
                            <div class="client-details">
                                <p>
                                    {{ client.description }}
                                </p>
                                <h3>{{ client.name }}</h3>
                                <span>{{ client.job }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next custom-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev custom-button">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
