/* ==== SKILLS SECTION ==== */
.skills .container .content {
    width: 100%;
}

.skills-description {
    max-width: 700px;
    margin-bottom: 25px;
}

.skills-description h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.skills-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
}

.experience-card .upper {
    line-height: 30px;
}

.experience-card h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.experience-card h5 {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
}

.experience-card span {
    color: var(--third-color);
}

.skill-category {
    margin-bottom: 30px;
    text-align: center;
}

.skill-category h4 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    //background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
    //border-bottom: 3px solid var(--second-color);
    border: 1px solid;
    border-radius: 6px;
    width: 150px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    //filter: brightness(0) invert(1);
}

.card span {
    font-size: 1em;
    font-weight: 500;
}

.cards .card {
    flex: 0 1 125px;
}

.cards {
    justify-content: center;
}

.experience-card:hover, .card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--hover-color), 0 0 10px var(--hover-color), 0 0 10px var(--hover-color), 0 0 10px var(--hover-color);

}

