<!-- ==== SKILLS SECTION ==== -->
<section class="skills section" id="skills">
    <div class="container flex-center">
        <h1 class="section-title-01">Habilidades</h1>
        <h2 class="section-title-02">Habilidades</h2>
        <div class="content">
            <div class="skills-description">
                <h3>Skills</h3>
            </div>
            <div class="skills-info">
                <div class="skill-category">
                    <h4>Desarrollo Web Frontend</h4>
                    <div class="cards">
                        <div class="card">
                            <img src="assets/images/logos/ts.svg" alt="Angular">
                            <span>Typescript</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/js.svg" alt="Angular">
                            <span>Javascript</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/angular.svg" alt="Angular">
                            <span>Angular</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/html.svg" alt="Angular">
                            <span>HTML</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/css.svg" alt="Angular">
                            <span>CSS</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/sass.svg" alt="Angular">
                            <span>SASS</span>
                        </div>
                    </div>
                </div>
                <div class="skill-category">
                    <h4>Desarrollo Web Backend</h4>
                    <div class="cards">
                        <div class="card">
                            <img src="assets/images/logos/nodejs.svg" alt="Angular">
                            <span>Node.js</span>
                        </div>
                    </div>
                </div>
                <div class="skill-category">
                    <h4>Control de Versiones</h4>
                    <div class="cards">
                        <div class="card">
                            <img src="assets/images/logos/github.svg" alt="Angular">
                            <span>GitHub</span>
                        </div>

                        <div class="card">
                            <img src="assets/images/logos/gitlab.svg" alt="Angular">
                            <span>GitLab</span>
                        </div>
                    </div>
                </div>
                <div class="skill-category">
                    <h4>Mapas y Gráficas</h4>
                    <div class="cards">
                        <div class="card">
                            <img src="assets/images/logos/highcharts.svg" alt="Angular">
                            <span>HighCharts</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/chartjs.svg" alt="Angular">
                            <span>ChartJS</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/apexcharts.svg" alt="Angular">
                            <span>ApexCharts</span>
                        </div>
                    </div>
                </div>
                <div class="skill-category">
                    <h4>Pruebas de API</h4>
                    <div class="cards">
                        <div class="card">
                            <img src="assets/images/logos/swagger.svg" alt="Angular">
                            <span>Swagger</span>
                        </div>
                        <div class="card">
                            <img src="assets/images/logos/postman.svg" alt="Angular">
                            <span>Postman</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
