<!-- ==== SECCIÓN INICIO ==== -->
<section class="home flex-center" id="home">
    <div class="home-container">
        <div class="info">
            <h2>Hola 👋🏻</h2>
            <h2>Soy Tania Martinez</h2>
            <h3>Desarrolladora Front-end</h3>
            <p>
                Me dedico a crear y transformar ideas en sistemas digitales visuales y funcionales. Mi pasión es crear
                experiencias web atractivas y efectivas.
            </p>
            <a href="mailto:tania@example.com" class="btn">Contáctame <i class="fa-solid fa-circle-arrow-right"></i></a>
            <div class="media-icons">
                <a href="https://www.facebook.com/tania.mtztuz" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/taniamtztuz/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/TaniaTuz" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="home-img">
            <img src="assets/images/tania_image.jpeg" alt="" class="home-image">
        </div>
    </div>
    <a href="#about" class="scroll-down">Conoce más <i class="fa-solid fa-arrow-down"></i></a>
</section>
