<!-- ==== SECCIÓN ACERCA DE MI ==== -->
<section class="about section" id="about">
    <div class="container flex-center">
        <h1 class="section-title-01">Sobre mí</h1>
        <h2 class="section-title-02">Sobre mí</h2>
        <div class="content flex-center">
            <div class="about-img">
                <img src="assets/images/tania_image2.jpg" alt="" class="">
            </div>
            <div class="about-info">
                <div class="description">
                    <h3>Soy Tania</h3>
                    <h4>Desarrolladora <span>Front-End</span></h4>
                    <p>
                        Diseño y desarrollo soluciones digitales personalizadas. Mi experiencia abarca desde
                        maquetado de interfaces hasta integración con APIs, creación de formularios, y optimización
                        del rendimiento web. Me encargo de implementar diseños responsivos, asegurar la accesibilidad
                        web, y mejorar la experiencia del usuario con interfaces intuitivas. Mi pasión es crear sitios
                        web formales y bien estructurados, siempre siguiendo las mejores prácticas y resolviendo
                        problemas técnicos con creatividad y precisión.
                    </p>
                </div>
                <ul class="professional-list">
                    <li class="list-item">
                        <h3>3</h3>
                        <span>Años de <br>Experiencia</span>
                    </li>
                </ul>
                <a href="assets/documents/tania_martinez_cv.pdf" class="btn" download>Descargar CV <i class="fa-solid fa-download"></i></a>
            </div>
        </div>
    </div>
</section>
