<!-- ==== HEADER ==== -->
<header>
    <div class="nav-bar">
        <a href="#" class="logo">
            <span class="initial-t">T</span>
            <span class="initial-m">M</span>
        </a>
        <div class="navigation" [ngClass]="{ 'active': isNavigationActive }">
            <div class="nav-items">
                <div class="nav-close-btn" (click)="closeNavigation()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <a href="#home" (click)="closeNavigation()"><i class="fa-solid fa-house"></i>Inicio</a>
                <a href="#about" (click)="closeNavigation()"><i class="fa-solid fa-user"></i>Sobre mí</a>
                <a href="#skills" (click)="closeNavigation()"><i class="fa-solid fa-star"></i>Habilidades</a>
                <a href="#contact" (click)="closeNavigation()"><i class="fa-solid fa-envelope"></i>Contacto</a>
            </div>
        </div>
        <div class="nav-menu-btn" (click)="toggleNavigation()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>

