<!-- ==== SCROLL TO TOP BUTTON ==== -->
<div class="scrollToTop-btn flex-center" (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up"></i>
</div>

<!-- ==== LIGHT/DARK THEME BUTTON ==== -->
<!--<div class="theme-btn flex-center" (click)="toggleTheme()">
    <i class="fa-solid" [ngClass]="isDarkTheme ? 'fa-sun' : 'fa-moon'"></i>
</div> -->

<app-navbar></app-navbar>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<!--<app-services></app-services>-->
<!--<app-portfolio></app-portfolio>-->
<app-contact></app-contact>
<app-footer></app-footer>
