<!-- ==== FOOTER SECTION ==== -->
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>Hecho con <i class="fa-solid fa-heart"></i> por Tania Martinez <i class="fa-solid fa-star"></i></p>
        </div>
        <div class="footer-right">
            <a href="#home">Inicio</a> |
            <a href="#about">Sobre mí</a> |
            <a href="#skills">Habilidades</a> |
            <a href="#contact">Contacto</a>
        </div>
        <div class="footer-social-icons">
            <a href="https://www.facebook.com/tania.mtztuz" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/taniamtztuz/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/TaniaTuz" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</footer>
